body  {
    background-image: url("/images/red-yellow-backgroundwebp.webp");
    background-color: #cccccc;
    background-size: cover;
    margin: 0;

}
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;

}

[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}

header {
    display: block;
    float: left;
    padding: 15px;
    background-color: whitesmoke;
    width: 100%;

}

header::after {
    content: "";
    clear: both;
    display: table;

}

header h1{
    margin-left: 100px;
    color: darkred;
}

header img {
    float: left;
    display: block;
    width: 70px;
    height: auto;
}

#history{
    padding: 15px;
    background-color: whitesmoke;
}

#history h2{
    color: darkred;
}

.col-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col-1 li {
    padding: 8px;
    margin-right: 0;
    margin-bottom: 7px;
    background-color: whitesmoke;
    color: darkred;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

summary{
    padding-bottom: 3px;
    color: darkred;
    list-style: none;
}

table{
    width: 20px;
    color: black;
    display: inline-block;
}

td {
    border: 1px solid darkred;
    padding: 6px 7px;
    font-size: x-large;

}

.days{
    color: black;
    padding-top: 3px;
    margin: 0;
}

#players{
    color: darkred;
    text-decoration: none;
}

#trophies_img{
        margin-left: 40px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 300px;
}

#trophies_img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);

}

.aside {
    padding: 2px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.aside h2{
    color: darkred;
}


#button_stadium{
    border: none;
    padding: 0;
    color: darkred;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    width: 100%;
    text-align: left;
}

.button {
    margin-left: 45%;
    margin-top: 3%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: darkred;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#button_back {
    position: absolute;
    left: 90%;
    margin-top: 3%;
    display: none;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;

}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}


@media only screen and (min-width: 800px) {
    /* For tablets: */
    .col-1, .col-2 {width: 50%;}
    .col-3 {width: 100%;}
}
@media only screen and (min-width: 1400px) {
    /* For desktop: */
    .col-1, .col-3 {width: 25%;}
}




