@import "header.css";
@import "navigation.css";
@import "main.css";
@import "signUp.css";
@import "footer.css";
@import "responsive.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

body{
    min-height: 100vh;
}

div[class^="page"]{
    padding: 1em;
}




